@page
@using QuickRecipes.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}
<h1>@ViewData["Title"]</h1>

@(await Html.RenderComponentAsync<RecipePage>(RenderMode.ServerPrerendered))

<p>Use this page to detail your site's privacy policy.</p>


