@page
@using QuickRecipes.WebSite.Models
@using QuickRecipes.WebSite.Services
@using QuickRecipes.WebSite.Controllers
@using QuickRecipes.WebSite.Components
@using Microsoft.AspNetCore.Components.Web

@inject CSVFileProductService IngredientsService
@model ViewIngredientsModel
@{
    ViewData["Title"] = "View Ingredient";
}


@(await Html.RenderComponentAsync<ViewIngredientsList>(RenderMode.ServerPrerendered, new { MyValue = Model.ingredient, svg = Model.base64svg}))



<p>Use this page to detail your site's privacy policy.</p>


