@page
@using QuickRecipes.WebSite.Models
@using QuickRecipes.WebSite.Services
@using QuickRecipes.WebSite.Controllers
@using QuickRecipes.WebSite.Components
@using Microsoft.AspNetCore.Components.Web

@inject CSVFileProductService ProductsService
@model ViewRecipeModel
@{
    ViewData["Title"] = "View Recipe";
}

@(await Html.RenderComponentAsync<ViewRecipePage>(RenderMode.ServerPrerendered, new { MyValue = Model.product, svg = Model.base64svg}))


<p>Use this page to detail your site's privacy policy.</p>

